
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplo de Tabla</title>
</head>
<body>

  <div class="container sm:w-2/3 md:w-full lg:w-full xl:w-full  sm:p-4 md:p-9">
    <table class="border-collapse  md: w-full sm:w-5/7 md:4/3 lg:w-full xl:w-full">
      <thead>
        <tr>
          <th  class="border">Campo 1</th>
          <th class="border px-2 py-4 ">Campo 2</th>
          <th class="border px-2 py-4 ">Campo 3</th>
          <th class="border px-2 py-4 ">Campo 4</th>
          <th class="border px-2 py-4 ">Campo 5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-2 py-4">Dato 1</td>
          <td class="border px-2 py-4">Dato 2</td>
          <td class="border px-2 py-4">Dato 3</td>
          <td class="border px-2 py-4">Dato 4</td>
          <td class="border px-2 py-4">Dato 5</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>
